@using FinalProject.Application.Common.Interfaces.Services
@inject IAddressService AddressService
@model IEnumerable<ExpertOrderViewModel>

@{
    Layout = "/Areas/Expert/Views/Shared/_ExpertLayout.cshtml";
}

@if (ViewBag.NoAddress == true)
{
    <h1>باید ابتدا آدرس خود را تکمیل کنید!</h1>
    <a href="/Identity/Account/Manage/AddAddress" class="btn btn-info">افزودن آدرس</a>
}
else
{
    <h1>سفارشات</h1>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.ServiceName)</th>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.Customer)</th>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.OrderDate)</th>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.State)</th>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.ServiceBasePrice)</th>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.AddressId)</th>
                    <th scope="col">@Html.DisplayNameForInnerType((ExpertOrderViewModel c) => c.Description)</th>
                    <th scope="col">ثبت پیشنهاد</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.ServiceName</td>
                        <td>@(order.Customer!.FirstName + " " + order.Customer!.LastName)</td>
                        <td>@order.OrderDate</td>
                        <td>@order.State.GetDisplayName()</td>
                        <td>@order.ServiceBasePrice</td>
                        <td>@await AddressService.GetFullAddressToString(order.AddressId, Context.RequestAborted)</td>
                        <td>@order.Description</td>
                        @if (order.HasBidAlready == true)
                        {
                            if (order.IsDeletable == true)
                            {
                                <td>
                                    <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target=@("#modal_" + order.Id)>
                                        حذف پیشنهاد
                                    </button>
                                    <div class="modal fade" id=@("modal_" + order.Id) tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    مطئنید میخواهید حذف کنید؟
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                                    <form asp-controller="Order" asp-action="DeleteBid" asp-route-orderId=@order.Id method="post">
                                                        <button class="btn btn-danger" type="submit">حذف</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-info" asp-controller="Order" asp-action="Bid" asp-route-orderId=@order.Id>ثبت پیشنهاد</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}