@page
@model FinalProject.Endpoint.Areas.Administration.Pages.Users.IndexModel


<h1>مشتریان</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameForInnerType((CustomerListVM c) => c.CustomerId)</th>
            <th scope="col">@Html.DisplayNameForInnerType((CustomerListVM c) => c.FirstName )</th>
            <th scope="col">@Html.DisplayNameForInnerType((CustomerListVM c) => c.LastName)</th>
            <th scope="col">@Html.DisplayNameForInnerType((CustomerListVM c) => c.PhoneNumber)</th>
            <th scope="col">@Html.DisplayNameForInnerType((CustomerListVM c) => c.BirthDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <th scope="row">@customer.CustomerId</th>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.BirthDate</td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<h1>متخصصان</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.ExpertId)</th>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.FirstName )</th>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.LastName)</th>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.PhoneNumber)</th>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.BirthDate)</th>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.NationalCode)</th>
            <th scope="col">@Html.DisplayNameForInnerType((ExpertListVM c) => c.City)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expert in Model.Experts)
        {
            <tr>
                <th scope="row">@expert.ExpertId</th>
                <td>@expert.FirstName</td>
                <td>@expert.LastName</td>
                <td>@expert.PhoneNumber</td>
                <td>@expert.BirthDate</td>
                <td>@expert.NationalCode</td>
                <td>@expert.City</td>
            </tr>
        }
    </tbody>
</table>