@model IEnumerable<CommentListViewModel>
@inject ICustomerService CustomerService
@inject IExpertService ExpertService
@inject IUploadService UploadService


<h1>کامنت ها</h1>
<div class="accordion accordion-flush col-12" id="accordionFlush">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(c => c.Id)</th>
                <th scope="col">@Html.DisplayNameFor(c => c.Content)</th>
                <th scope="col">مشتری</th>
                <th scope="col">متخصص</th>
                <th scope="col">@Html.DisplayNameFor(c => c.ImageId)</th>
                <th scope="col">@Html.DisplayNameFor(c => c.IsApproved)</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <th scope="row">@comment.Id</th>
                    <td>
                        <button class="accordion-button text-nowrap" type="button" data-bs-toggle="collapse" data-bs-target=@("#c" + comment.Id) aria-expanded="true" aria-controls="collapseOne">
                            مشاهده محتویات
                        </button>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Profile" asp-route-id=@comment.CustomerId>
                            @await CustomerService.GetName(comment.CustomerId, Context.RequestAborted)
                        </a>
                    </td>
                    <td>
                        <a asp-controller="User" asp-action="Profile" asp-route-id=@comment.ExpertId>
                            @await ExpertService.GetName(comment.ExpertId, Context.RequestAborted)
                        </a>
                    </td>

                    <td>
                        @if (comment.ImageId != null)
                        {
                            var fileDirectory = await UploadService.GetFileDirectory((int)comment.ImageId, Context.RequestAborted);
                            <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target=@("#modalp_" + comment.ImageId)>

                                <img src="~/@fileDirectory" alt="picture thumbnail" width="70px" />
                            </button>
                            <div class="modal fade" id=@("modalp_" + comment.ImageId) tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <img src="~/@fileDirectory" alt="comment picture" />
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                        <p class="text-nowrap">عکس ندارد</p>
                        }
                    </td>
                    <td>@comment.IsApproved</td>
                    <td class="d-inline-flex btn-group align-items-center">

                        <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target=@("#modal_" + comment.Id)>
                            حذف
                        </button>
                        <div class="modal fade" id=@("modal_" + comment.Id) tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body text-dark">
                                        مطئنید میخواهید حذف کنید؟
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                        <form asp-controller="Comment" asp-action="Delete" asp-route-id=@comment.Id method="post">
                                            <button class="btn btn-danger" type="submit">حذف</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (@comment.IsApproved == false)
                        {
                            <form asp-controller="Comment" asp-action="Approve" asp-route-id=@comment.Id method="post">
                                <button class="btn btn-success text-nowrap" type="submit">تایید کامنت</button>
                            </form>
                        }
                    </td>
                </tr>
                <tr id=@("c" + comment.Id) class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#accordionFlush">
                    <td class="accordion-body" colspan="7">@comment.Content</td>
                </tr>
            }
        </tbody>
    </table>
</div>