@using FinalProject.Application.Common.Extensions
@using FinalProject.Application.Common.Interfaces.Services
@using FinalProject.Endpoint.Areas.Administration.Models
@inject IAddressService AddressService
@model IEnumerable<OrderListViewModel>

<h1>سفارشات</h1>
<div class="accordion accordion-flush ">

    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.Id)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.ServiceName)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.OrderDate)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.DateCompleted)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.State)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.ServiceBasePrice)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.CompletedPrice)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.AddressId)</th>
                <th scope="col">@Html.DisplayNameForInnerType((OrderListViewModel c) => c.Bids)</th>

                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <th scope="row">@order.Id</th>
                    <td>@order.ServiceName</td>
                    <td>@order.OrderDate</td>
                    <td>@order.DateCompleted</td>
                    <td>@order.State.GetDisplayName()</td>
                    <td>@order.ServiceBasePrice</td>
                    <td>@order.CompletedPrice</td>
                    <td>@await AddressService.GetFullAddressToString(order.AddressId, Context.RequestAborted)</td>
                    <td>

                        <button class="accordion-button text-nowrap" type="button" data-bs-toggle="collapse" data-bs-target=@("#b" + order.Id) aria-expanded="true" aria-controls="collapseOne">
                            مشاهده پیشنهادات
                        </button>
                    </td>
                    <td class="d-inline-flex justify-items-center align-items-center">
                        <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target=@("#modal_" + order.Id)>
                            حذف
                        </button>
                        <div class="modal fade" id=@("modal_" + order.Id) tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body text-dark">
                                        مطئنید میخواهید حذف کنید؟
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                        <form asp-controller="Order" asp-action="Delete" asp-route-id=@order.Id method="post">
                                            <button class="btn btn-danger" type="submit">حذف</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form asp-controller="Order" asp-action="Edit" asp-route-id=@order.Id method="get">
                            <button class="btn btn-warning" type="submit">ویرایش</button>
                        </form>
                        <a class="btn btn-info" asp-controller="Order" asp-action="Details" asp-route-id=@order.Id>جزییات</a>
                    </td>
                </tr>
                <tr id=@("b" + order.Id) class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <td colspan=4>
                        <table>
                            <tr>
                                <th scope="col">@Html.DisplayNameForInnerType((BidViewModel c) => c.Id)</th>
                                <th scope="col">متخصص</th>
                                <th scope="col">@Html.DisplayNameForInnerType((BidViewModel c) => c.Price)</th>
                                <th scope="col">@Html.DisplayNameForInnerType((BidViewModel c) => c.Notes)</th>
                                <th scope="col">ویرایش</th>

                            </tr>

                            @foreach (var bid in order.Bids)
                            {
                                <tr>
                                    <td>@bid.Id</td>
                                    <td><a class="btn btn-info" asp-controller="User" asp-action="Profile" asp-route-id=@bid.ExpertId>@bid.ExpertId</a></td>
                                    <td>@bid.Price</td>
                                    <td>@bid.Notes</td>
                                    <td><a class="btn btn-warning" asp-controller="Order" asp-action="EditBid" asp-route-id=@bid.Id>ویرایش</a></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>